# Summary of Fraud Detection Code Lab

* Data is highly imbalanced
* Features of interval_after_signup and time related raw and aggregates are highly predictive of fraud
* Made actionable operation recommendations/proposal for business

# Data Exploration

In [1]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import f1_score, roc_auc_score, roc_curve, precision_recall_curve, auc, make_scorer, recall_score, accuracy_score, precision_score, confusion_matrix
from sklearn.model_selection import GridSearchCV

pd.set_option('display.max_columns', 500)

# Import and store dataset
fraud_data = pd.read_csv('imbalancedFraudDF.csv')
ipToCountry = pd.read_csv('IpAddress_to_Country.csv')

# from sklearn.grid_search import GridSearchCV is deprecated
import sklearn
print(sklearn.__version__)

0.20.2

In [3]:
#Distribution of the label column
fraud_data['class'].value_counts()

0    136961
1      1415
Name: class, dtype: int64

In [4]:
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
3,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0
4,159135,2015-05-21 06:03:03,2015-07-09 08:05:14,42,ALEYXFXINSXLZ,Ads,Chrome,M,18,2.809315e+09,0

In [41]:
# You can install pandas_profiling using the pip package manager by running:
# pip install pandas-profiling

import pandas_profiling

#Inline summary report without saving report as object
pandas_profiling.ProfileReport(fraud_data)

#simpler version without installing pandas_profiling
# fraud_data.describe().transpose()

# will give warnings on missing, correlation, constant value(0 variance), etc, see http://nbviewer.jupyter.org/github/JosPolfliet/pandas-profiling/blob/master/examples/meteorites.ipynb

In [3]:
ipToCountry = pd.read_csv('IpAddress_to_Country.csv')
ipToCountry.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [3]:
#Task 1: Identify country info based on ip_address
start = time.time()

countries = []
for i in range(len(fraud_data)):
    ip_address = fraud_data.loc[i, 'ip_address']
    tmp = ipToCountry[(ipToCountry['lower_bound_ip_address'] <= ip_address) &
                    (ipToCountry['upper_bound_ip_address'] >= ip_address)]
    if len(tmp) == 1:#found match
        countries.append(tmp['country'].values[0])
    else:#no match
        countries.append('NA')
        
fraud_data['country'] = countries
print "Lookup took", time.time() - start, "seconds."

Lookup took 209.881716967 seconds.

In [5]:
fraud_data = pd.read_csv('/Users/mingjiang/Documents/lai/fraud/mine/imbalancedFraudDFwithCountry.csv')

## Q: can you optimize the above look-up process?

# Feature Engineering(What types of features can we use?)

## Q: How to check if column user_id is unique(no dup) for time related aggregates?

In [4]:
print fraud_data.user_id.nunique()#138289
print len(fraud_data.index)#138376
#most of the user_id has only the first 1 transaction, difficult to do time based aggregates, 
#e.g. amount/counts in past 1 day for this user

138289
138376

In [6]:
#time related features: can be done before split, as they has no interaction between other rows, solely based on other columns of the same row
fraud_data['interval_after_signup'] = (pd.to_datetime(fraud_data['purchase_time']) - pd.to_datetime(
        fraud_data['signup_time'])).dt.total_seconds()

fraud_data['signup_days_of_year'] = pd.DatetimeIndex(fraud_data['signup_time']).dayofyear

fraud_data['signup_seconds_of_day'] = pd.DatetimeIndex(fraud_data['signup_time']).second + 60 * pd.DatetimeIndex(
    fraud_data['signup_time']).minute + 3600 * pd.DatetimeIndex(fraud_data['signup_time']).hour

fraud_data['purchase_days_of_year'] = pd.DatetimeIndex(fraud_data['purchase_time']).dayofyear
fraud_data['purchase_seconds_of_day'] = pd.DatetimeIndex(fraud_data['purchase_time']).second + 60 * pd.DatetimeIndex(
    fraud_data['purchase_time']).minute + 3600 * pd.DatetimeIndex(fraud_data['purchase_time']).hour

fraud_data = fraud_data.drop(['user_id','signup_time','purchase_time'], axis=1)

In [7]:
fraud_data.head()

,purchase_value,device_id,source,browser,sex,age,ip_address,class,country,interval_after_signup,signup_days_of_year,signup_seconds_of_day,purchase_days_of_year,purchase_seconds_of_day
0,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan,4506682.0,55,82549,108,10031
1,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States,17944.0,158,74390,159,5934
2,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,NaN,492085.0,118,76405,124,50090
3,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States,4361461.0,202,25792,252,67253
4,42,ALEYXFXINSXLZ,Ads,Chrome,M,18,2.809315e+09,0,Canada,4240931.0,141,21783,190,29114

In [10]:
print fraud_data.source.value_counts()

SEO       55747
Ads       54911
Direct    27718
Name: source, dtype: int64

# Q: What now? train/test split? convert categorical features e.g. device_id to numericals? or SMOTE sampling?

In [ ]:
#what is smote
# What if convert source column by OHE now?
# it sneak peek the levels of this column in test data, what if there is another new level "newsPaper" in test, 
# but not in train? info leak, know ahead of time

In [7]:
y = fraud_data['class']
X = fraud_data.drop(['class'], axis=1)

#split into train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print("X_train.shape:", X_train.shape)
print("y_train.shape:", y_train.shape)

('X_train.shape:', (110700, 13))
('y_train.shape:', (110700,))

In [12]:
X_train.head()

,purchase_value,device_id,source,browser,sex,age,ip_address,country,interval_after_signup,signup_days_of_year,signup_seconds_of_day,purchase_days_of_year,purchase_seconds_of_day
29343,12,OULPAZAFRFPXP,Ads,Chrome,M,42,3.690922e+09,Korea Republic of,3499664.0,183,67384,224,24648
12190,10,AIIWMFEYQQIEB,Ads,Opera,M,29,1.686759e+09,United States,6766039.0,5,78146,84,18585
19388,34,VUVETBUPCIWJE,Direct,Chrome,M,53,4.138429e+09,NaN,5870515.0,197,81354,265,76669
89104,48,QCFULAJOYKFUU,Ads,Chrome,M,29,9.617337e+07,France,2145618.0,160,30920,185,16538
82082,44,IHRWLMIJMEEEU,Ads,FireFox,M,24,1.936025e+09,China,7079059.0,111,71897,193,66156

# Convert categorical features to numericals

In [8]:
#converting needs to be done after split
X_train = pd.get_dummies(X_train, columns=['source', 'browser'])#need to drop ['source', 'browser']? no, auto dropped by get_dummies 
X_train['sex'] = (X_train.sex == 'M').astype(int)

# the more a device is shared, the more suspicious
X_train['n_dev_shared'] = X_train.device_id.map(X_train.device_id.value_counts(dropna=False))

# the more a ip is shared, the more suspicious
X_train['n_ip_shared'] = X_train.ip_address.map(X_train.ip_address.value_counts(dropna=False))

# the less visit from a country, the more suspicious
X_train['n_country_shared'] = X_train.country.map(X_train.country.value_counts(dropna=False))#lots of NAs in country column, #without dropna=False will produce nan in this col

X_train = X_train.drop(['device_id','ip_address','country'], axis=1)



##########################
X_test = pd.get_dummies(X_test, columns=['source', 'browser'])
X_test['sex'] = (X_test.sex == 'M').astype(int)

# the more a device is shared, the more suspicious
X_test['n_dev_shared'] = X_test.device_id.map(X_test.device_id.value_counts(dropna=False))

# the more a ip is shared, the more suspicious
X_test['n_ip_shared'] = X_test.ip_address.map(X_test.ip_address.value_counts(dropna=False))

# the less visit from a country, the more suspicious
X_test['n_country_shared'] = X_test.country.map(X_test.country.value_counts(dropna=False))

X_test = X_test.drop(['device_id','ip_address','country'], axis=1)

In [11]:
X_train.head(20)

,purchase_value,sex,age,interval_after_signup,signup_days_of_year,signup_seconds_of_day,purchase_days_of_year,purchase_seconds_of_day,source_Ads,source_Direct,source_SEO,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,browser_Safari,n_dev_shared,n_ip_shared,n_country_shared
29343,12,1,42,3499664.0,183,67384,224,24648,1,0,0,1,0,0,0,0,1,1,3081
12190,10,1,29,6766039.0,5,78146,84,18585,1,0,0,0,0,0,1,0,1,1,42389
19388,34,1,53,5870515.0,197,81354,265,76669,0,1,0,1,0,0,0,0,1,1,16254
89104,48,1,29,2145618.0,160,30920,185,16538,1,0,0,1,0,0,0,0,1,1,2310
82082,44,1,24,7079059.0,111,71897,193,66156,1,0,0,0,1,0,0,0,1,1,8856
76812,56,1,25,7872819.0,102,78778,194,2797,1,0,0,1,0,0,0,0,1,1,42389
111006,67,1,43,7662881.0,143,68977,232,42258,1,0,0,0,1,0,0,0,1,1,16254
37929,29,0,25,1293152.0,69,70051,84,67203,0,0,1,0,0,0,0,1,1,1,42389
88089,20,1,18,7551233.0,225,22512,312,56945,0,0,1,1,0,0,0,0,1,1,42389
50851,14,1,28,6830027.0,188,26963,267,31390,1,0,0,0,1,0,0,0,1,1,42389
1567,17,0,35,1813911.0,134,5,154,85916,1,0,0,0,0,1,0,0,1,1,2170
127834,40,0,45,7893327.0,41,57881,133,2408,0,0,1,0,0,1,0,0,1,1,558
84940,77,1,38,5198634.0,156,27998,216,42632,1,0,0,0,0,0,0,1,1,1,16254
62615,32,1,43,5210838.0,55,83965,116,24403,1,0,0,0,0,0,0,1,1,1,11
106910,54,1,33,2301317.0,126,75339,153,43856,0,1,0,0,0,1,0,0,1,1,42389
109446,38,0,42,6382194.0,87,63768,161,52362,1,0,0,1,0,0,0,0,1,1,154
74340,55,0,34,186403.0,25,3942,27,17545,1,0,0,1,0,0,0,0,2,1,8856
40048,11,1,27,3777778.0,72,18835,115,81413,0,0,1,0,0,1,0,0,1,1,42389
105255,19,1,33,4258595.0,147,14867,196,39862,0,0,1,0,0,0,0,1,1,1,42389
77134,38,0,33,4139161.0,211,82174,259,74135,0,0,1,0,0,1,0,0,1,1,16254

# Q: What is the difference between normalization and standardization?

In [10]:
# # normalize to [0,1], standardize(StandardScaler) to normal, mu=0,var = 1 can < 0, so we do normalize here

# needs to be brought to the same scale for models like LR with regularization(that are not tree based)

#Compute the train minimum and maximum to be used for later scaling:
scaler = preprocessing.MinMaxScaler().fit(X_train[['n_dev_shared', 'n_ip_shared', 'n_country_shared']]) 
#print(scaler.data_max_)

#transform the training data and use them for the model training
X_train[['n_dev_shared', 'n_ip_shared', 'n_country_shared']] = scaler.transform(X_train[['n_dev_shared', 'n_ip_shared', 'n_country_shared']])

#before the prediction of the test data, apply the same scaler obtained from above on X_test, not fitting a brandnew scaler on test
X_test[['n_dev_shared', 'n_ip_shared', 'n_country_shared']] = scaler.transform(X_test[['n_dev_shared', 'n_ip_shared', 'n_country_shared']])

/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [11]:
X_train.n_dev_shared.value_counts(dropna=False)

0.0    105373
0.2      4756
0.4       375
0.6       132
0.8        40
1.0        24
Name: n_dev_shared, dtype: int64

In [12]:
X_test.n_dev_shared.value_counts(dropna=False)

0.0    27310
0.2      350
0.4       12
0.6        4
Name: n_dev_shared, dtype: int64

# Simple LogisticRegression model

In [13]:
# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

# predict on test
y_pred=logreg.predict(X_test)

/anaconda2/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [14]:
# import the metrics class
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred)
cmDF = pd.DataFrame(cm, columns=['pred_0', 'pred_1'], index=['true_0', 'true_1'])
print(cmDF)

        pred_0  pred_1
true_0   27389       0
true_1     287       0

# Simple RF model

In [12]:
classifier_RF = RandomForestClassifier(random_state=0)

classifier_RF.fit(X_train, y_train)

# predict class labels 0/1 for the test set
predicted = classifier_RF.predict(X_test)

# generate class probabilities
probs = classifier_RF.predict_proba(X_test)

# generate evaluation metrics
print("%s: %r" % ("accuracy_score is: ", accuracy_score(y_test, predicted)))
print("%s: %r" % ("roc_auc_score is: ", roc_auc_score(y_test, probs[:, 1])))
print("%s: %r" % ("f1_score is: ", f1_score(y_test, predicted )))#string to int

print ("confusion_matrix is: ")
cm = confusion_matrix(y_test, predicted)
cmDF = pd.DataFrame(cm, columns=['pred_0', 'pred_1'], index=['true_0', 'true_1'])
print(cmDF)
print 'recall =',float(cm[1,1])/(cm[1,0]+cm[1,1])
print 'precision =', float(cm[1,1])/(cm[1,1] + cm[0,1])#1.0

/anaconda2/lib/python2.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

accuracy_score is: : 0.9957002457002457
roc_auc_score is: : 0.8052619232294355
f1_score is: : 0.7384615384615384
confusion_matrix is:
        pred_0  pred_1
true_0   27389       0
true_1     119     168
recall = 0.585365853659
precision = 1.0

# SMOTE sampling

In [14]:

#Wrong way to sampling: smote before split train/test, then test data does not reflect true distribution in reality, 
#and bleed information from the test set into the training of the model. overfit! think about the case of simple 
#oversampling (where I just duplicate observations). If I upsample a dataset before splitting it into a train and 
#validation set, I could end up with the same observation in both datasets

#https://imbalanced-learn.org/en/stable/install.html

# Install
# imbalanced-learn is currently available on the PyPis reporitories and you can install it via pip:

# pip install -U imbalanced-learn

#oversampling on only the training data, the right way! 
#sampling_strategy = number of samples in the majority class over the number of samples in the minority class after resampling

smote = SMOTE(random_state=12)
x_train_sm, y_train_sm = smote.fit_sample(X_train, y_train)

unique, counts = np.unique(y_train_sm, return_counts=True)

print np.asarray((unique, counts)).T

[[     0 109572]
 [     1 109572]]

In [15]:
#RF on smoted training data
classifier_RF_sm = RandomForestClassifier(random_state=0)

classifier_RF_sm.fit(x_train_sm, y_train_sm)

# predict class labels for the test set
predicted_sm = classifier_RF_sm.predict(X_test)

# generate class probabilities
probs_sm = classifier_RF_sm.predict_proba(X_test)


# generate evaluation metrics
print("%s: %r" % ("accuracy_score_sm is: ", accuracy_score(y_test, predicted_sm)))
print("%s: %r" % ("roc_auc_score_sm is: ", roc_auc_score(y_test, probs_sm[:, 1])))
print("%s: %r" % ("f1_score_sm is: ", f1_score(y_test, predicted_sm )))#string to int

print ("confusion_matrix_sm is: ")
cm_sm = confusion_matrix(y_test, predicted_sm)
cmDF = pd.DataFrame(cm_sm, columns=['pred_0', 'pred_1'], index=['true_0', 'true_1'])
print(cmDF)
print 'recall or sens_sm =',float(cm_sm[1,1])/(cm_sm[1,0]+cm_sm[1,1])
print 'precision_sm =', float(cm_sm[1,1])/(cm_sm[1,1] + cm_sm[0,1])

#different AUC??

accuracy_score_sm is: : 0.995085995085995
roc_auc_score_sm is: : 0.8022659215028591
f1_score_sm is: : 0.6909090909090909
confusion_matrix_sm is:
        pred_0  pred_1
true_0   27388       1
true_1     135     152
recall or sens_sm = 0.529616724739
precision_sm = 0.993464052288

# Parameter tuning by GridSearchCV

## Eval metrics for GridSearchCV over all fits upon combination of parameters and cv

In [19]:
# Eval metrics to be calculated for each combination of parameters and cv
scorers = {
    'precision_score': make_scorer(precision_score),
    'recall_score': make_scorer(recall_score),
    'f1_score': make_scorer(f1_score, pos_label=1)
}

In [24]:
def grid_search_wrapper(model, parameters, refit_score='f1_score'):
    """
    fits a GridSearchCV classifier using refit_score for optimization(refit on the best model according to refit_score)
    prints classifier performance metrics
    """
#     skf = StratifiedKFold(n_splits=10)
#     grid_search = GridSearchCV(clf, param_grid, scoring=scorers, refit=refit_score,
#                            cv=skf, return_train_score=True, n_jobs=-1)
    grid_search = GridSearchCV(model, parameters, scoring=scorers, refit=refit_score,
                           cv=3, return_train_score=True, n_jobs=-1)
    grid_search.fit(X_train, y_train)

    # make the predictions
    y_pred = grid_search.predict(X_test)
    y_prob = grid_search.predict_proba(X_test)[:, 1]
    
    print('Best params for {}'.format(refit_score))
    print(grid_search.best_params_)

    # confusion matrix on the test data.
    print('\nConfusion matrix of Random Forest optimized for {} on the test data:'.format(refit_score))
    cm = confusion_matrix(y_test, y_pred)
    cmDF = pd.DataFrame(cm, columns=['pred_0', 'pred_1'], index=['true_0', 'true_1'])
    print(cmDF)
    
    print("\t%s: %r" % ("roc_auc_score is: ", roc_auc_score(y_test, y_prob)))
    print("\t%s: %r" % ("f1_score is: ", f1_score(y_test, y_pred)))#string to int

    print 'recall = ', float(cm[1,1]) / (cm[1,0] + cm[1,1])
    print 'precision = ', float(cm[1,1]) / (cm[1, 1] + cm[0,1])

    return grid_search

## Optimizing on f1_score on LR

In [25]:
# C: inverse of regularization strength, smaller values specify stronger regularization
LRGrid = {"C" : np.logspace(-2,2,5), "penalty":["l1","l2"]}# l1 lasso l2 ridge
#param_grid = {'C': [0.01, 0.1, 1, 10, 100], 'penalty': ['l1', 'l2']}
logRegModel = LogisticRegression(random_state=0)

grid_search_LR_f1 = grid_search_wrapper(logRegModel, LRGrid, refit_score='f1_score')

Best params for f1_score
{'penalty': 'l1', 'C': 0.1}

Confusion matrix of Random Forest optimized for f1_score on the test data:
        pred_0  pred_1
true_0   27387       2
true_1     275      12
	roc_auc_score is: : 0.7638745329103483
	f1_score is: : 0.07973421926910298
recall =  0.0418118466899
precision =  0.857142857143

## Optimizing on f1_score on RF

In [26]:
parameters = {        
'max_depth': [None, 5, 15],
'n_estimators' :  [10,150],
'class_weight' : [{0: 1, 1: w} for w in [0.2, 1, 100]]
}

clf = RandomForestClassifier(random_state=0)

In [24]:
grid_search_rf_f1 = grid_search_wrapper(clf, parameters, refit_score='f1_score')

Best params for f1_score
{'n_estimators': 150, 'max_depth': None, 'class_weight': {0: 1, 1: 0.2}}

Confusion matrix of Random Forest optimized for f1_score on the test data:
   pred_0  pred_1
0   27389       0
1     117     170
	roc_auc_score is: : 0.8081450843143492
	f1_score is: : 0.7439824945295405
recall =  0.592334494774
precision =  1.0

In [25]:
best_rf_model_f1 = grid_search_rf_f1.best_estimator_
best_rf_model_f1

RandomForestClassifier(bootstrap=True, class_weight={0: 1, 1: 0.2},
            criterion='gini', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=150, n_jobs=None, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [37]:
results_f1 = pd.DataFrame(grid_search_rf_f1.cv_results_)
results_sortf1 = results_f1.sort_values(by='mean_test_f1_score', ascending=False)
results_sortf1[['mean_test_precision_score', 'mean_test_recall_score', 'mean_test_f1_score', 'mean_train_precision_score', 'mean_train_recall_score', 'mean_train_f1_score','param_max_depth', 'param_class_weight', 'param_n_estimators']].round(3).head()

,mean_test_precision_score,mean_test_recall_score,mean_test_f1_score,mean_train_precision_score,mean_train_recall_score,mean_train_f1_score,param_max_depth,param_class_weight,param_n_estimators
1,1.000,0.577,0.732,1.0,1.000,1.000,None,"{0: 1, 1: 0.2}",150
5,1.000,0.575,0.730,1.0,0.614,0.761,15,"{0: 1, 1: 0.2}",150
0,0.994,0.577,0.730,1.0,0.877,0.935,None,"{0: 1, 1: 0.2}",10
7,0.998,0.575,0.730,1.0,1.000,1.000,None,"{0: 1, 1: 1}",150
4,0.992,0.576,0.729,1.0,0.638,0.779,15,"{0: 1, 1: 0.2}",10

In [28]:
#Var Importance, make a guess?
pd.DataFrame(best_rf_model_f1.feature_importances_, index = X_train.columns, columns=['importance']).sort_values('importance', ascending=False)

                         importance
interval_after_signup      0.405883
purchase_days_of_year      0.146444
signup_seconds_of_day      0.072164
purchase_seconds_of_day    0.070753
signup_days_of_year        0.061146
n_ip_shared                0.060882
n_dev_shared               0.040845
purchase_value             0.038808
age                        0.033563
n_country_shared           0.026520
sex                        0.007915
browser_Chrome             0.006109
browser_IE                 0.005220
source_Ads                 0.005099
source_SEO                 0.005074
source_Direct              0.004438
browser_Safari             0.004238
browser_FireFox            0.004108
browser_Opera              0.000791

## Optimizing  recall_score on RF

In [40]:
grid_search_rf_recall = grid_search_wrapper(clf, parameters, refit_score='recall_score')

Best params for recall_score
{'n_estimators': 150, 'max_depth': 5, 'class_weight': {0: 1, 1: 100}}

Confusion matrix of Random Forest optimized for recall_score on the test data:
   pred_0  pred_1
0   27137     252
1     123     164
	roc_auc_score is: : 0.8152250394783226
	f1_score is: : 0.4665718349928876
recall =  0.571428571429
precision =  0.394230769231

In [39]:
results_recall = pd.DataFrame(grid_search_rf_recall.cv_results_)
results_sortrecall = results_recall.sort_values(by='mean_test_recall_score', ascending=False)
# results_sortf1 = results_f1.sort_values(by='mean_test_f1_score', ascending=False)
results_sortrecall[['mean_test_precision_score', 'mean_test_recall_score', 'mean_test_f1_score', 'mean_train_precision_score', 'mean_train_recall_score', 'mean_train_f1_score','param_max_depth', 'param_class_weight', 'param_n_estimators']].round(3).head()
#recall is worse than default rf?? no this is on test, but train recall is better

,mean_test_precision_score,mean_test_recall_score,mean_test_f1_score,mean_train_precision_score,mean_train_recall_score,mean_train_f1_score,param_max_depth,param_class_weight,param_n_estimators
15,0.166,0.662,0.265,0.170,0.679,0.271,5,"{0: 1, 1: 100}",150
14,0.193,0.650,0.295,0.195,0.663,0.299,5,"{0: 1, 1: 100}",10
0,0.994,0.577,0.730,1.000,0.877,0.935,None,"{0: 1, 1: 0.2}",10
1,1.000,0.577,0.732,1.000,1.000,1.000,None,"{0: 1, 1: 0.2}",150
4,0.992,0.576,0.729,1.000,0.638,0.779,15,"{0: 1, 1: 0.2}",10

# Project tasks

In [29]:
#for task 3, based on the above var importance
trainDF = pd.concat([X_train, y_train], axis=1)
pd.crosstab(trainDF["n_dev_shared"],trainDF["class"])
#the larger n_dev_shared, the higher rate of fraud

class              0    1
n_dev_shared
0.0           104960  413
0.2             4397  359
0.4              167  208
0.6               35   97
0.8                9   31
1.0                4   20

In [34]:
fraud_data.groupby("class")[['interval_after_signup']].mean()#action velocity(consecutive operations/actions of user)
#interval_after_signup on frauds are significantly lower compared to legits

       interval_after_signup
class
0               5.191179e+06
1               2.354059e+06

In [35]:
fraud_data.groupby("class")[['interval_after_signup']].median()#1
#more than half of fraud happened 1s after signed up

       interval_after_signup
class
0                  5194911.0
1                        1.0

In [85]:
fraud_data[fraud_data['class'] == 1].head(100)

,user_id,signup_time,purchase_time,purchase_value,device_id,sex,age,ip_address,class,country,interval_after_signup,signup_days_of_year,signup_seconds_of_day,purchase_days_of_year,purchase_seconds_of_day,source_Ads,source_Direct,source_SEO,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,browser_Safari
136961,86574,2015-01-11 14:39:04,2015-01-11 14:39:05,61,ZQVCVEXPSAZCA,1,23,3.941890e+08,1,United States,1.0,11,52744,11,52745,0,0,1,0,0,0,0,1
136962,74145,2015-03-27 07:55:56,2015-07-20 06:59:34,55,DFQZESNZDEIPP,0,18,1.930175e+09,1,Korea Republic of,9932618.0,86,28556,201,25174,1,0,0,0,1,0,0,0
136963,282058,2015-01-05 08:18:00,2015-01-05 08:18:01,36,EGLGSEGYPMMAM,1,37,3.503224e+09,1,United States,1.0,5,29880,5,29881,0,0,1,0,1,0,0,0
136964,255332,2015-01-01 01:46:58,2015-01-01 01:46:59,19,SQWWBFDRYPGYA,0,36,2.105295e+08,1,United States,1.0,1,6418,1,6419,0,0,1,0,0,1,0,0
136965,399497,2015-01-01 14:29:27,2015-01-22 15:14:12,52,JWAVUHXQXTCHW,1,22,1.052881e+09,1,Nigeria,1817085.0,1,52167,22,54852,0,1,0,1,0,0,0,0
136966,337297,2015-02-10 13:01:00,2015-04-14 05:08:57,50,BCKHXUUTHTMMW,0,31,8.000143e+08,1,Canada,5414877.0,41,46860,104,18537,0,0,1,0,1,0,0,0
136967,46163,2015-03-05 09:23:48,2015-06-03 01:57:00,12,YFFPJJLHEHZML,1,45,1.957369e+09,1,China,7749192.0,64,33828,154,7020,0,1,0,0,0,0,0,1
136968,17097,2015-01-08 10:34:16,2015-01-08 10:34:17,12,IGAXAVAZFJYOB,1,33,2.447058e+09,1,Netherlands,1.0,8,38056,8,38057,1,0,0,0,0,0,0,1
136969,318808,2015-01-02 06:01:09,2015-01-02 06:01:10,22,MLKPWLXKZYANO,0,33,2.543532e+09,1,United States,1.0,2,21669,2,21670,1,0,0,1,0,0,0,0
136970,303431,2015-01-11 19:16:05,2015-01-11 19:16:06,61,SIKJNYXDSEUEG,1,30,3.410478e+09,1,Taiwan; Republic of China (ROC),1.0,11,69365,11,69366,1,0,0,1,0,0,0,0
136971,44914,2015-01-27 00:43:57,2015-05-24 20:19:06,15,THUMCGGMWHFBM,0,37,1.508344e+09,1,Poland,10179309.0,27,2637,144,73146,0,0,1,0,0,0,0,1
136972,38019,2015-01-04 22:16:54,2015-01-04 22:16:55,35,TZZDLDMKAXGXV,1,32,3.375939e+09,1,Brazil,1.0,4,80214,4,80215,0,0,1,1,0,0,0,0
136973,320606,2015-01-10 02:49:15,2015-01-10 02:49:16,40,NUMTVKWSSQFKX,1,20,2.294789e+09,1,Germany,1.0,10,10155,10,10156,1,0,0,1,0,0,0,0
136974,186868,2015-01-17 23:28:39,2015-03-10 17:36:30,14,YNURMUCMFPTSD,1,32,4.871255e+08,1,United States,4471671.0,17,84519,69,63390,1,0,0,1,0,0,0,0
136975,82337,2015-04-01 01:23:32,2015-06-15 07:15:50,24,TJCCXQJVWPKYR,0,52,4.185735e+09,1,NaN,6501138.0,91,5012,166,26150,0,0,1,1,0,0,0,0
136976,69350,2015-01-01 12:32:04,2015-01-01 12:32:05,36,PJJKOFHZHRDXZ,1,29,4.194852e+09,1,NaN,1.0,1,45124,1,45125,1,0,0,0,1,0,0,0
136977,77059,2015-07-13 16:30:04,2015-10-12 15:16:24,33,EEUKAOOTFHXEY,1,25,1.310722e+09,1,United Kingdom,7857980.0,194,59404,285,54984,1,0,0,0,0,1,0,0
136978,217420,2015-01-12 10:50:01,2015-01-12 10:50:02,23,EIWWDKIBIWRWY,1,33,2.351656e+09,1,United States,1.0,12,39001,12,39002,0,0,1,0,0,1,0,0
136979,18750,2015-03-01 08:23:07,2015-05-08 23:36:33,23,TBTCSMEHSLZXB,0,43,2.765299e+09,1,United States,5930006.0,60,30187,128,84993,0,0,1,0,0,1,0,0
136980,214817,2015-06-10 23:25:04,2015-06-11 13:21:31,28,LRFIZLEUTGAVY,1,36,4.228522e+09,1,NaN,50187.0,161,84304,162,48091,0,0,1,1,0,0,0,0
136981,118283,2015-07-31 13:38:14,2015-09-10 03:34:08,11,BGLCQIGJVFDSV,1,27,5.437537e+08,1,United States,3506154.0,212,49094,253,12848,0,1,0,0,0,1,0,0
136982,360095,2015-01-09 13:03:19,2015-01-09 13:03:20,42,WFZZXPYDPPQKU,0,23,2.689697e+09,1,United States,1.0,9,46999,9,47000,1,0,0,1,0,0,0,0
136983,69719,2015-01-11 22:10:47,2015-01-11 22:10:48,15,UAKGGVBPLOFBL,1,41,1.138555e+09,1,United States,1.0,11,79847,11,79848,0,1,0,0,0,0,0,1
136984,304193,2015-01-06 20:31:50,2015-01-06 20:31:51,35,RIDPOCPDKVVQD,1,31,3.700414e+09,1,Taiwan; Republic of China (ROC),1.0,6,73910,6,73911,0,1,0,1,0,0,0,0
136985,85022,2015-03-12 17:20:23,2015-06-08 05:09:36,41,AXIXSODJQHVTZ,1,28,2.989831e+09,1,Kuwait,7559353.0,71,62423,159,18576,1,0,0,0,1,0,0,0
136986,254013,2015-05-17 07:10:00,2015-07-13 04:54:28,58,UDCDGJPXYCLYP,1,33,8.886420e+08,1,United States,4916668.0,137,25800,194,17668,0,0,1,0,0,0,0,1
136987,362057,2015-04-21 23:46:50,2015-07-24 08:45:53,14,JENAWXXALKUYV,1,32,1.344096e+09,1,Spain,8067543.0,111,85610,205,31553,0,1,0,0,1,0,0,0
136988,254715,2015-01-04 21:31:00,2015-01-04 21:31:01,31,GVROQHGFQEPJP,1,40,2.613576e+09,1,United States,1.0,4,77460,4,77461,0,0,1,1,0,0,0,0
136989,147212,2015-01-09 14:16:09,2015-01-09 14:16:10,43,FMWURDWUILPRN,1,35,2.698381e+09,1,Spain,1.0,9,51369,9,51370,0,1,0,1,0,0,0,0
136990,127514,2015-02-04 18:34:11,2015-03-28 09:00:08,27,NRNZQLAFDVEDT,1,42,8.263541e+08,1,China,4458357.0,35,66851,87,32408,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137031,364465,2015-01-06 16:33:14,2015-01-06 16:33:15,62,XWRXEZURUYHBE,1,24,5.413026e+08,1,United States,1.0,6,59594,6,59595,0,0,1,1,0,0,0,0
137032,62189,2015-01-05 14:07:36,2015-01-05 14:07:37,32,TYXMMOAMALRZM,1,43,4.102888e+09,1,NaN,1.0,5,50856,5,50857,0,0,1,1,0,0,0,0
137033,300457,2015-01-07 08:15:54,2015-01-07 08:15:55,65,VRYLIRAQJIIIE,0,30,1.213105e+09,1,United States,1.0,7,29754,7,29755,0,0,1,0,0,0,1,0
137034,281651,2015-05-16 12:23:32,2015-06-16 23:22:37,39,IBABXOTYHSUPO,1,23,2.651255e+09,1,United States,2717945.0,136,44612,167,84157,1,0,0,0,0,0,1,0
137035,396318,2015-01-02 02:02:04,2015-01-02 02:02:05,9,FAALRIFEEVUYX,0,35,1.786159e+09,1,China,1.0,2,7324,2,7325,0,1,0,1,0,0,0,0
137036,51991,2015-01-07 02:03:20,2015-01-07 02:03:21,15,UUKIJBYBJOGKQ,1,31,3.481407e+09,1,United States,1.0,7,7400,7,7401,0,0,1,1,0,0,0,0
137037,172378,2015-03-04 17:31:56,2015-06-08 12:40:57,19,AHKWEFJUUPZBV,1,33,1.017972e+09,1,China,8276941.0,63,63116,159,45657,1,0,0,1,0,0,0,0
137038,83058,2015-01-07 17:36:36,2015-01-07 17:36:37,9,ZKKGOVBAYKVRH,0,18,3.768519e+09,1,NaN,1.0,7,63396,7,63397,0,0,1,0,1,0,0,0
137039,59613,2015-06-05 10:15:33,2015-09-23 02:09:23,47,UKZSSZHMNOZOU,1,44,2.226860e+09,1,Germany,9474830.0,156,36933,266,7763,0,0,1,1,0,0,0,0
137040,54353,2015-08-13 19:51:19,2015-09-04 08:28:49,23,GHVVMKLBWQNOQ,1,27,2.916301e+09,1,United States,1859850.0,225,71479,247,30529,0,1,0,0,0,1,0,0
137041,118764,2015-01-11 09:16:02,2015-01-11 09:16:03,42,JYSOQFETCOHNP,0,32,2.589542e+09,1,Seychelles,1.0,11,33362,11,33363,1,0,0,1,0,0,0,0
137042,4655,2015-02-25 15:56:46,2015-03-25 10:17:45,12,YKBRWZUTTLPIO,1,37,2.035733e+09,1,Japan,2398859.0,56,57406,84,37065,1,0,0,0,0,1,0,0
137043,104465,2015-01-02 11:44:23,2015-01-02 11:44:24,12,NXTEWXUCLTMDA,1,48,3.612513e+09,1,United States,1.0,2,42263,2,42264,1,0,0,1,0,0,0,0
137044,261871,2015-08-13 22:45:44,2015-08-30 22:53:59,99,CMFKCNFHSTCEB,1,34,6.121164e+08,1,China,1469295.0,225,81944,242,82439,1,0,0,1,0,0,0,0
137045,287593,2015-06-26 08:57:56,2015-06-28 02:54:12,24,UGKRRCCBEILPJ,1,28,1.944189e+09,1,China,150976.0,177,32276,179,10452,0,1,0,0,1,0,0,0
137046,40905,2015-01-08 17:36:52,2015-01-08 17:36:53,24,XJWEQEWCBRAKD,0,22,9.794124e+08,1,Hong Kong,1.0,8,63412,8,63413,1,0,0,0,0,1,0,0
137047,157067,2015-01-05 19:06:37,2015-01-05 19:06:38,22,MJVIOKCNPESGA,1,23,3.969919e+09,1,NaN,1.0,5,68797,5,68798,0,1,0,0,1,0,0,0
137048,105393,2015-04-16 06:57:59,2015-05-02 20:02:41,88,NKTPGVSRQBGBQ,1,48,4.084541e+09,1,NaN,1429482.0,106,25079,122,72161,1,0,0,1,0,0,0,0
137049,12899,2015-02-05 18:57:08,2015-06-02 06:15:23,46,BHWYEQZVAVOMV,0,30,2.309075e+09,1,United States,10063095.0,36,68228,153,22523,1,0,0,1,0,0,0,0
137050,13762,2015-01-06 07:00:25,2015-01-06 07:00:26,59,IREHOCKVRLIII,1,37,2.733844e+09,1,United States,1.0,6,25225,6,25226,0,1,0,1,0,0,0,0
137051,338684,2015-07-05 19:02:11,2015-07-23 08:50:01,59,MAUKBUFMXFREG,1,35,2.024185e+09,1,Indonesia,1518470.0,186,68531,204,31801,0,1,0,0,0,1,0,0
137052,123779,2015-01-06 14:52:40,2015-01-06 14:52:41,15,DHHYCQKROARAT,0,24,2.692106e+09,1,South Africa,1.0,6,53560,6,53561,0,0,1,0,0,0,0,1
137053,110038,2015-01-08 09:52:03,2015-01-08 09:52:04,17,VFKKWJCYXDUUY,1,45,3.599352e+08,1,United States,1.0,8,35523,8,35524,1,0,0,1,0,0,0,0
137054,340953,2015-03-20 07:17:34,2015-07-16 06:15:45,25,EFCFFMUKFRDHJ,0,20,2.104670e+09,1,China,10191491.0,79,26254,197,22545,0,1,0,1,0,0,0,0
137055,175728,2015-07-18 06:01:10,2015-10-25 20:35:17,12,LMQIXNKGMZLEG,1,18,2.584887e+09,1,United States,8606047.0,199,21670,298,74117,1,0,0,0,1,0,0,0
137056,339159,2015-05-27 06:31:08,2015-08-10 21:54:18,16,HIZLMTIWZCFJS,1,34,2.340302e+09,1,United States,6535390.0,147,23468,222,78858,0,1,0,0,1,0,0,0
137057,68019,2015-01-08 09:32:56,2015-01-08 09:32:57,14,GTIYVLCMAYBFA,1,39,2.141692e+09,1,NaN,1.0,8,34376,8,34377,1,0,0,0,1,0,0,0
137058,22397,2015-01-09 23:26:23,2015-01-09 23:26:24,42,FUDFJZMMDZFUX,1,48,3.785879e+09,1,NaN,1.0,9,84383,9,84384,1,0,0,0,0,0,0,1
137059,2178,2015-01-02 11:31:26,2015-01-02 11:31:27,54,RXESTBBFRZQCQ,0,23,2.498460e+09,1,Mexico,1.0,2,41486,2,41487,0,0,1,1,0,0,0,0
137060,68978,2015-01-01 13:50:26,2015-01-01 13:50:27,34,RUFEYRNHBWXWK,1,36,2.048907e+09,1,Japan,1.0,1,49826,1,49827,1,0,0,1,0,0,0,0

In [102]:
#for task 4, how to use the prediction:
t = (10 * probsBest_recall[:, 1]).astype(int)
unique, counts = np.unique(t, return_counts=True)

print np.asarray((unique, counts)).T

#recommended:
#green: 1 - 3 pass
#grey: 4-7 need manual investigation
#red: 8,9 decline

[[    1     2]
 [    2 26975]
 [    3   202]
 [    4    81]
 [    5   248]
 [    6     8]
 [    7     6]
 [    8    39]
 [    9   115]]

In [ ]:
#HW: try XGBOOST and compare the performance of RF